/* -------------- =LAYOUT -------------- */
/* margin, height, width etc */

/*Hidden*/
.skip{display:none;}

/* -------------- =SETUP -------------- */

header, nav, article, section, div{
  width: 212px;
  margin: 8px 0 0 8px;
  padding: 15px 15px 5px 15px;
  display: block;
}

div#slidecaption{
  padding: 15px;
  position: absolute;
  bottom: 8px;
  left: 50%;
  margin-left: -121px;
  text-align: center;
}

h1, h2, p, ul{
  margin-bottom: 10px;
}

.email, .tel {
  display: block;
  margin: 10px 0 0 0;
}

.twitter, .facebook {
  display: inline-block;
  margin: 10px 10px 0 0;
}




/* -------------- =FOOTER -------------- */

/* -------------- =ERRORS -------------- */


/* -------------- =CLEARFIX -------------- */

{
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}