/* -------------- =LAYOUT -------------- */
/* margin, height, width etc */

/*Hidden*/
.skip{display:none;}

/* -------------- =SETUP -------------- */

html{
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

body{
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.site-title{
  position: relative;
  left: -11px;
}

header, nav, article, section, div{
  width: 212px;
  margin: 8px 0 0 8px;
  padding: 15px 15px 5px 15px;
  display: block;
  postion: relative;
  z-index: 500;
}

.images{
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  margin:0;
  padding: 0;
  display: block;
}

div#slidecaption{
  padding: 15px;
  position: absolute;
  bottom: 8px;
  left: 50%;
  margin-left: -121px;
  text-align: center;
}

h1, h2, p, ul{
  margin-bottom: 10px;
}

.email, .tel {
  display: block;
  margin: 10px 0 0 0;
}

.twitter, .facebook {
  display: inline-block;
  margin: 10px 10px 0 0;
}

article.about, article.contact{
  position: absolute;
  left: -250px;
  top: 281px;
}

article a.close{
  position: absolute;
  right: 8px;
  top: 8px;
}



/* -------------- =ERRORS -------------- */


/* -------------- =CLEARFIX -------------- */

{
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}