/* -------------- =SKIN -------------- */
/* color, background etc */

/* -------------- =SETUP -------------- */

body{
	background: #000;
	color: #fff;
}

/* -------------- =HEADER -------------- */



/* -------------- =FOOTER -------------- */

/* -------------- =ERRORS -------------- */


/* ------------- =IMAGE REPLACEMENT  --------------- */
 {
  overflow: hidden;
  text-align: left;
  display: block;
  line-height:0;
  text-indent: -1000em;
}