/* -------------- =SKIN -------------- */
/* color, background etc */

/* -------------- =SETUP -------------- */

body{
  background: #000;
  color: #fdfdfd;
}

header, nav, article, section, div{
 background: url(/images/bg-black.png) repeat;
}

a {color: #009C96;}
a:link {text-decoration:none;}
a:visited{text-decoration:none;}
a:hover {
  color: #FF7100;
  text-decoration: none;
}
a:active{text-decoration: none;}

h1, h2 {
  color: #009C96;
}

ul li{
  list-style-position: outside;
  list-style-type: none;
}


/* -------------- =HEADER -------------- */



/* -------------- =FOOTER -------------- */

/* -------------- =ERRORS -------------- */


/* ------------- =IMAGE REPLACEMENT  --------------- */
 {
  overflow: hidden;
  text-align: left;
  display: block;
  line-height:0;
  text-indent: -1000em;
}